<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJNJ7h2nbpd2lb1jUHlwYBWxQR1p3PO1o</string>
	<key>GCM_SENDER_ID</key>
	<string>925745543531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>to-do-application-1c8e6</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-application-1c8e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925745543531:ios:0c238a74e5e7897e1f742e</string>
</dict>
</plist>